html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: "Kalam", cursive;
    font-weight: 400;
    font-style: normal;
    color: #83A2FF;
    overflow-x: hidden;
    background-image: url("../assets/cover-home-01.jpeg");
    background-size: cover;
    margin-bottom: 5vh;
}

header {
    display: inline;
}

.header-container {
    align-self: flex-end;
    background: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: baseline;
    flex-basis: 100px;

}

.menu-item {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: white;
    font-size: 0.8rem;
    min-width: 80px;
    text-align: center;
}

.home-logo {
    /* max-width: 80px; */
    float: left;
}
.home-logo > img {
    max-width: 150px;

    /* max-height: 20px; */
}

.flex-container {
    clear: left;
    max-height: 95vh;
    /* background-image: url("../assets/cover-home-01.jpeg");
    object-fit: contain; */
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    margin: -10px;
    margin-top: -40px;
    gap: 5px;
    /**margin-top: 100px; **/
}

.title-header {
    font-size: 6rem;
    color: #FFFFDD;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
    -webkit-text-stroke: 0.5px white;
}

.title-subheader {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 2rem;
    /* color: white; */ 
    position: relative;
    margin-top: -50px;
    color: white;
    -webkit-text-stroke: 0.1px black;
}

.title-description-cover {
    background-color: lightgrey;
    background: rgba(211, 211, 211, 0.5);
    max-width: 40vw;
    padding: 10px;
}

p.title-description {
    font-size: 1rem;
    color: #016A70;
    text-align: justify;
    max-width: 40vw;
    -webkit-text-stroke: 0.1px black;
    opacity: 1;    

}

footer {
    background-color: #D2DE32;
    padding-top: 10px;
    height: 5vh;
    width: 100%;
    position: absolute; 
    bottom: 0; 
    left: 0; 
    z-index: 10;
}

.cover-buttons {
    display: flex;
    gap: 2vw;
    justify-content: flex-start;
    
}


.button {
    background-color: #A2C579;
    font: 2rem;
    color: white;
    padding: 10px;
    font-weight: bold;
    /* min-width: 200px; */
    border: none;
    border-radius: 5px;

}
.one {
    flex: 2;
    padding: 30px;
    padding-left: 100px;
    
}

.two {
    flex: 1;
    /* align-content: stretch;
    height: 80vh; */

}

.two > img {

    
}

/* Style all font awesome icons */
.fa {
    padding: 10px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-instagram {
    background: white;
    color: red;
  }

  .fa-linkedin {
    background: #0077B5;
    color: #FFFFFF;

  }

  .social-icons {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
  }
  .social-button {
    border: none;
    background: none;
  }

@media (max-width: 1440px) {
    .title-header {
        font-size: 5rem;
    }

    .title-subheader {
        font-size: 2rem;
    }
    p.title-description {
        font-size: 1rem
    }

    .cover-buttons {
        justify-content: center;
        margin-top: 2vh;
        max-width: 60vw;
        gap: 2vh;
    }

    .buttons {
        min-width: 35vw;
    }
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (max-width: 801px) {
    body {
        overflow-x: hidden;
        margin-bottom: 5vh;
    }

    .home-logo > img {
        max-width: 100px;
    
        /* max-height: 20px; */
    }

    .flex-container {
        flex-direction: column;
        margin-left: 0px;
    }
    .title-header {
        font-size: 4rem;
    }

    .title-subheader {
        font-size: 2rem;
    }

    .title-description-cover {
        max-width: 60vw;
    }

    p.title-description {
        font-size: 1rem;
        max-width: 60vw;
    }

    .cover-buttons {
        justify-content: center;
        margin-top: 2vh;
        max-width: 60vw;
        gap: 2vh;
    }

    .buttons {
        min-width: 35vw;
    }

    .one {
        flex: 1;
        padding: 5vh;

    }

    .two {
        flex: 0;
        flex-shrink: 1;

        
    }

    footer {
        background-color: #D2DE32;
        /* padding-top: 10px; */
        height: 5vh;
        width: 100%;
        position: absolute; 
        bottom: 0; 
        left: 0; 
        z-index: 10;
    }
}


@media (max-width: 480px) {
    body {
        overflow-x: hidden;
        margin-bottom: 5vh;

    }

    .flex-container {
        margin-top: 0px;
        flex-direction: column;
        margin-left: 0px;
    }
    .title-header {
        font-size: 3.1rem;
    }

    .title-subheader {
        font-size: 1.5rem;
    }

    .title-description-cover {
        max-width: 80vw;
    }

    p.title-description {
        font-size: 0.8rem;
        max-width: 80vw;
    }

    .cover-buttons {
        justify-content: center;
        max-width: 80vh;
        margin-top: 2vh;
        gap: 2vw;
    }

    .buttons {
        min-width: 35vw;
    }

    .one {
        flex: 1;
        padding: 5vh;

    }

    .two {
        flex: 0;
        flex-shrink: 1;

        
    }

    footer {
        background-color: #D2DE32;
        /* padding-top: 10px; */
        height: 5vh;
        width: 100%;
        position: absolute; 
        bottom: 0; 
        left: 0; 
        z-index: 10;
    }
}
/* 
@media (max-width: 640px) {
    .one {
        padding-left: 50px;
        
    } 
} */